.game{
    display: grid;
    grid-template-columns: auto auto auto;
    background-image: url("/images/board.png");
    background-size: cover;
    width: 300px;
    height: 300px;
    margin:auto;
}
.square{
    margin-left:5px;
    margin-top:20px;
    width: 70px;
    height: 70px;
}
.red{
    background-image: url("/images/red.png");
    background-size: contain;
}
.yellow{
    background-image: url("/images/yellow.png");
    background-size: contain;
}