.game{
    display: grid;
    grid-template-columns: auto auto auto;
    background-image: url("/images/board.png");
    background-size: cover;
    width: 300px;
    height: 300px;
    margin:auto;
}
.square{
    width: 90px;
    height:90px;
    margin-top: 11px;
    margin-left: 5px;
}
.red{
    background-image: url("/images/red.png");
    background-size: contain;
    background-repeat: no-repeat;
}
    
.yellow{
    background-image: url("/images/yellow.png");
    background-size: contain;
}